/* login.css */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

.login-box {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.login-card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.login-form .ant-form-item-label {
  color: #fff;
}

.ant-input, .ant-btn {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .login-box {
    width: 90%;
    padding: 20px;
  }
}
